
.error {
	background-color: #FFDDDD;
	border: 1px solid red;
	padding: 5px;
}
.codeviewdisabled {
	background-color: #DDDDDD;
	color: #000000;
}
.codeviewenabled {
	background-color: #FFFFFF;
	color: #000000;
}
.vishelp {
	border: 1px solid black;
	background-color: #BBBBFF;
	color: #000000;
	position: fixed;
	bottom: 30px;
	right: 30px;
	filter:alpha(opacity=60); 
	-moz-opacity: 0.6; 
}
