## Algovis
## Author: Isaiah Damron <Isaiah+Algovis at Trifault dot net>
##
<%inherit file='base.html'/>

<%block name='header'>
		<script type="text/javascript" src="lib/jquery.js"></script> 
		<script type="text/javascript" src="lib/jquery-linedtextarea.js"></script> 
		<link href="lib/jquery-linedtextarea.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="lib/jquery.timer.js"></script> 
		<script type='text/javascript' src='lib/deepCopy.js'></script>

		<script type="text/javascript" src="generated/render.js"></script> 
		<script type="text/javascript" src="generated/visualizer.js"></script> 
		<link type="text/css" href="static/coderunner.css" rel="stylesheet" />	
		<script type="text/javascript" src="generated/coderunner.js"></script> 

		<link type="text/css" href="lib/css/smoothness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="lib/js/jquery-ui-1.8.13.custom.min.js"></script>
		
		<script type='text/javascript'>
			function main() {
				coderunner.setup($('#codeview'), $('#speedslider'), $('#gobutton'), $('#stopbutton'), $('#prevstep'), $('#nextstep'), $('#rcanvas'));
				//coderunner.setcode(insertionsort.toString() + "\ninsertionsort(sortinglist);\n");
				//coderunner.setcode(bubblesort.toString() + "\nbubblesort(sortinglist);\n");
				//coderunner.setcode(selectionsort.toString() + "\nselectionsort(sortinglist);\n");
				//coderunner.setcode(shellsort.toString() + "\nshellsort(sortinglist);\n");
				//coderunner.setcode(combsort.toString() + "\ncombsort(sortinglist);\n");
				//coderunner.setcode(heapify.toString() + siftDown.toString() + heapsort.toString() + "\nheapsort(sortinglist);\n");
				//coderunner.setcode(getpivotndxbestof3.toString() + quicksorth.toString() + quicksort.toString() + "\nquicksort(sortinglist);\n");
				//coderunner.setcode(%SETCODEHERE%);
				jQuery.get("${getcodeurl(codesnippet)}", function(data) { coderunner.setcode(data); coderunner.restartrun(); });
			}
		</script>
</%block>

<body onLoad="main()">
	<i>${codesnippet.name}</i> <a href='${getindexurl()}' style='float:right'>&lt;&lt; Back to index</a>
	<table width='100%'>
		<tr>
			<td>
				<textarea class='.lined' id='codeview' rows='45' cols='80'></textarea>
				<input id='gobutton' type='submit' value='Go' style='float:left;'/><input id='prevstep' type='submit' value='<' style='float:left'/><input id='nextstep' type='submit' value='>' style='float:left;'/><input id='stopbutton' type='submit' value='Stop' style='float:left;'/>&nbsp;&nbsp;<label for="speedslider" style='float:left;'>&nbsp;Speed:</label><div id='speedslider' style='width:200px; float:left;'></div><input id='showcoderunner' type='checkbox'/>
			</td>
			<td>
				<canvas id="rcanvas" width="400" height="400">
				This text is displayed if your browser does not support HTML5 Canvas.
				</canvas>
			</td>
		</tr>
	</table>
	<form method='POST' action='testcode' id='testform'>
		<textarea id='testcodedata' name='testcode' style='display:none;'></textarea>
		<input type='submit' value='Test'/>
	</form>
</body>



