## Algovis
## Author: Isaiah Damron <Isaiah+Algovis at Trifault dot net>
##
<%inherit file='base.html'/>

<%block name='header'>
	<script type="text/javascript" src="static/jquery.js"></script> 
	<script type='text/javascript'>
		var coderunner = new function() {
			this.afterstmt = function(vals, lineno) {
				texttoadd = '';
				for(var i in vals)
				{
					for(var j in vals[i])
					{
						texttoadd += " " + j + ':' + vals[i][j];
					}
				}
				$('#logtable').append("<tr><td>" + lineno + "</td><td>" + texttoadd + "</td></div>"); 
			}

				this.beforeline = function(lineno) {}
				this.afterline = function(lineno) {}
			};
		function swapinlist(l, i1, i2)
		{
			temp = l[i1];
			l[i1] = l[i2];
			l[i2] = temp;
		}
		//Your code here
		var testcode = ${testcode};
		//Your code here
	</script>
</%block>

<body onLoad='testcode([4,3,5,2,1])'>
	Testing
	<table id='logtable'>
		<tr><th>Line</th><th>Values</th></tr>
	</table>
</body>
