<style>
	dl dt { font-family: monospace; }
</style>

<h3>Visualization Help</h3>
Use <code>sortinglist</code> as your input.

For visualization settings, place these somewhere in your code, and algovis will pick them up.
<dl>
	<dt>!vis-type: <i>type</i>;</dt>
	<dd>vis-type sets the visualization type. Currently, the only supported selection is <b>bar</b>.</dd>
	<dt>!vis-array: <i>var</i>;</dt>
	<dd><i>var</i> is a variable that contains the list to visualize.</dd>
	<dt>!vis-index: <i>var</i>;</dt>
	<dd>The index at <i>var</i> will be shown in a different color. This can be specified more than once.</dd>
	<dt>!vis-indexrange: <i>label</i> <i>var1</i> <i>var2</i>;</dt>
	<dd>A range of bars will be sectioned off, between indices <i>var1</i> and <i>var2</i>, with the label <i>label</i>.</dd>
	<dt>!vis-extrabar: <i>label</i> <i>var</i>;</dt>
	<dd>An extra bar will be drawn off to the side, with the label <i>label</i>, at the height <i>var</i>.</dd>
</dl>

